# Introduction à MongoDB

### FX Jollois

### DU Analyste Data Science

1. Présentation de MongoDB
1. Connection depuis Python et interrogation de données

## Présentation de MongoDB

> Base de données **NoSQL** de type *Document Store* (orienté document)

Objectifs :

- Gestion possible de gros volumes de données
- Facilité de déploiement et d'utilsiation
- Possibilité de faire de choses assez complexes

Plus d'informations sur [leur site](http://www.mongodb.com/)

### Modèle des données

Principe de base : les données sont des `documents`

- Stocké en *Binary JSON* (`BSON`)
- Documents similaires rassemblés dans des `collections`
    - plusieurs collections possibles dans une base de données
- Pas de schéma des documents définis en amont
	- contrairement à un BD relationnel ou NoSQL de type *Column Store*
- Les documents peuvent n'avoir aucun point commun entre eux
- Un document contient (généralement) l'ensemble des informations
	- pas (ou très peu) de jointure à faire idéalement
- BD respectant **CP** (dans le théorème *CAP*)
	- propriétés ACID au niveau d'un document

### Format `JSON`

- `JavaScript Object Notation`, créé en 2005
- Format léger d'échange de données structurées (**littéral**)
- Schéma des données non connu (contenu dans les données)
- Basé sur deux notions :
	- collection de couples clé/valeur
	- liste de valeurs ordonnées
- Structures possibles :
	- objet (couples clé/valeur) : `{ "nom": "jollois", "prenom": "fx" }`
	- tableau (collection de valeurs) : `[ 1, 5, 10]`
	- une valeur dans un objet ou dans un tableau peut être elle-même un littéral
- Deux types atomiques (`string` et `number`) et trois constantes (`true`, `false`, `null`)

Validation possible du JSON sur [jsonlint.com/](http://jsonlint.com/)

#### Exemple de `JSON`

```json
{
    "address": {
        "building": "469",
        "coord": [
            -73.9617,
            40.6629
        ],
        "street": "Flatbush Avenue",
        "zipcode": "11225"
    },
    "borough": "Brooklyn",
    "cuisine": "Hamburgers",
    "grades": [
        {
            "date": "2014-12-30 01:00:00",
            "grade": "A",
            "score": 8
        },
        {
            "date": "2014-07-01 02:00:00",
            "grade": "B",
            "score": 23
        }
    ],
    "name": "Wendy'S",
    "restaurant_id": "30112340"
}
```

### Compléments

`BSON` : extension de `JSON`

- Quelques types supplémentaires (identifiant spécifique, binaire, date, ...)
- Distinction entier et réel

**Schéma dynamique**

- Documents variant très fortement entre eux, même dans une même collection
- On parle de **self-describing documents**
- Ajout très facile d'un nouvel élément pour un document, même si cet élément est inexistant pour les autres
- Pas de `ALTER TABLE` ou de redesign de la base

### Langage d'interrogation

- Pas de SQL (bien évidemment), ni de langage proche
- Définition d'un langage propre
    - `find()` : pour tout ce qui est restriction et projection
    - `aggregate()` : pour tout ce qui est calcul de variable, d'aggrégats et de manipulations diverses
    - ...
- Langage JavaScript dans la console, permettant plus que les accès aux données
	- définition de variables
	- boucles
	- ...

## Interaction entre Python et MongoDB

Utilisation du package [`pymongo`](https://docs.mongodb.com/drivers/pymongo/)

### Connexion à un serveur distant

- Utilisation d'une URI spécifique, avec login et passeword intégrés
- Si connexion serveur local (suite à installation selon [ces instructions](../infos-mongo), pas besoin de mettre de paramètre à la fonction `pymongo.MongoClient()`

In [1]:
import pymongo
URI = 'mongodb+srv://user:user@cluster0.ougec.mongodb.net/test'
client = pymongo.MongoClient(URI)
db = client.test

## Exemples sur `restaurants`

Dans ce document, nous allons travailler sur une base des restaurants New-Yorkais.

Voici le premier document est présenté ci-dessous sur les plus de 25000 restaurants new-yorkais (base de test fournie par [Mongo](https://docs.mongodb.com/getting-started/shell/import-data/))

```json
{
        "_id" : ObjectId("58ac16d1a251358ee4ee87de"),
        "address" : {
                "building" : "469",
                "coord" : [
                        -73.961704,
                        40.662942
                ],
                "street" : "Flatbush Avenue",
                "zipcode" : "11225"
        },
        "borough" : "Brooklyn",
        "cuisine" : "Hamburgers",
        "grades" : [
                {
                        "date" : ISODate("2014-12-30T00:00:00Z"),
                        "grade" : "A",
                        "score" : 8
                },
                {
                        "date" : ISODate("2014-07-01T00:00:00Z"),
                        "grade" : "B",
                        "score" : 23
                },
                {
                        "date" : ISODate("2013-04-30T00:00:00Z"),
                        "grade" : "A",
                        "score" : 12
                },
                {
                        "date" : ISODate("2012-05-08T00:00:00Z"),
                        "grade" : "A",
                        "score" : 12
                }
        ],
        "name" : "Wendy'S",
        "restaurant_id" : "30112340"
}
```

### Document dans `python`

Les données `JSON` sont similaires à un dictionnaire `python`. Pour récupérer le premier document, nous utilisons la fonction `find()` de l'objet créé `m`.

In [2]:
d = db.restaurants.find(limit = 1)
d

L'objet retourné est un **curseur**, et non le résultat. Nous avons celui-ci lorsque nous utilisons `d` dans une commande telle qu'une transformation en `list` par exemple. Une fois le résultat retourné (un seul élément ici), le curseur ne renvoie plus rien

In [3]:
list(d)

[{'_id': ObjectId('600e865f65af9ee45325bea3'),
  'address': {'building': '469',
   'coord': [-73.961704, 40.662942],
   'street': 'Flatbush Avenue',
   'zipcode': '11225'},
  'borough': 'Brooklyn',
  'cuisine': 'Hamburgers',
  'grades': [{'date': datetime.datetime(2014, 12, 30, 0, 0),
    'grade': 'A',
    'score': 8},
   {'date': datetime.datetime(2014, 7, 1, 0, 0), 'grade': 'B', 'score': 23},
   {'date': datetime.datetime(2013, 4, 30, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2012, 5, 8, 0, 0), 'grade': 'A', 'score': 12}],
  'name': "Wendy'S",
  'restaurant_id': '30112340'}]

In [4]:
list(d)

[]

### Dénombrement

- Fonction `count_documents({})` pour dénombrer les documents
    - le paramètre `{}` est à mettre obligatoirement
    - nous verrons juste après à quoi il sert
- Fonction `estimated_document_count()`  pour estimer le nombre de documents, à utiliser de préférence en cas de multiples serveurs et de données massives

#### Tous les restaurants

In [5]:
db.restaurants.count_documents({})

25359

In [6]:
db.restaurants.estimated_document_count()

25359

#### Sélection de documents

Pour sélectionner les documents, nous allons utiliser le paramètre dans la fonction `count_documents()` (ainsi que dans les fonctions `distinct()` et `find()` que nous verrons plus tard).

- `{}` : tous les documents
- `{ "champs": valeur }` : documents ayant cette valeur pour ce champs
- `{ condition1, condition2 }` : documents remplissant la condition 1 **ET** la condition 2
- `"champs.sous_champs"` : permet d'accéder donc à un sous-champs d'un champs (que celui-ci soit un littéral ou un tableau)
- `{ "champs": { "$opérateur": expression }}` : utilisation d'opérateurs dans la recherche
    - `$in` : comparaison à un ensemble de valeurs
    - `$gt`, `$gte`, `$lt`, `$lte`, `$ne` : comparaison (resp. *greater than*, *greater than or equal*, *less than*, *less than or equal*, *not equal*)

#### Comptage de certains documents

- Restaurants de *Brooklyn*

In [7]:
db.restaurants.count_documents({ "borough": "Brooklyn" })

6086

- Restaurants de *Brooklyn* proposant de la cuisine française

In [8]:
db.restaurants.count_documents({ "borough": "Brooklyn", "cuisine": "French" })

54

#### Comptage de certains documents (suite)

- Restaurants de *Brooklyn* proposant de la cuisine française ou italienne

In [9]:
db.restaurants.count_documents({ "borough": "Brooklyn", "cuisine": { "$in": ["French", "Italian"]} })

246

- Idem mais écrit plus lisiblement

In [10]:
db.restaurants.count_documents(
  { 
    "borough": "Brooklyn", 
    "cuisine": { "$in": ["French", "Italian"]}
  }
)

246

#### Comptage de certains documents (suite)

- Restaurants situés sur *Franklin Street*
    - Notez l'accès au champs `street` du champs `address`

In [11]:
db.restaurants.count_documents(
  { 
    "address.street": "Franklin Street"
  }
)

25

- Restaurants ayant eu un score de 0

In [12]:
db.restaurants.count_documents(
  { 
    "grades.score": 0
  }
)

1246

#### Comptage de certains documents

- Restaurants ayant eu un score inférieur à 5

In [13]:
db.restaurants.count_documents(
  { 
    "grades.score": { "$lte": 5 }
  }
)

10650

### Valeurs distinctes

On peut aussi voir la liste des valeurs distinctes d'un attribut, avec la fonction `distinct()`.

- Quartier (`borough`), pour tous les restaurants

In [14]:
db.restaurants.distinct(key = "borough")

['Bronx', 'Brooklyn', 'Manhattan', 'Missing', 'Queens', 'Staten Island']

#### Valeurs distinctes (suite)

- Cuisine pour les restaurants de *Brooklyn*

In [15]:
db.restaurants.distinct(
  key = "cuisine",
  query = { "borough": "Brooklyn" }
)

['Afghan',
 'African',
 'American ',
 'Armenian',
 'Asian',
 'Australian',
 'Bagels/Pretzels',
 'Bakery',
 'Bangladeshi',
 'Barbecue',
 'Bottled beverages, including water, sodas, juices, etc.',
 'Brazilian',
 'Café/Coffee/Tea',
 'Cajun',
 'Caribbean',
 'Chicken',
 'Chilean',
 'Chinese',
 'Chinese/Cuban',
 'Chinese/Japanese',
 'Continental',
 'Creole',
 'Creole/Cajun',
 'Czech',
 'Delicatessen',
 'Donuts',
 'Eastern European',
 'Egyptian',
 'English',
 'Ethiopian',
 'Filipino',
 'French',
 'Fruits/Vegetables',
 'German',
 'Greek',
 'Hamburgers',
 'Hawaiian',
 'Hotdogs',
 'Hotdogs/Pretzels',
 'Ice Cream, Gelato, Yogurt, Ices',
 'Indian',
 'Indonesian',
 'Irish',
 'Italian',
 'Japanese',
 'Jewish/Kosher',
 'Juice, Smoothies, Fruit Salads',
 'Korean',
 'Latin (Cuban, Dominican, Puerto Rican, South & Central American)',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Moroccan',
 'Not Listed/Not Applicable',
 'Nuts/Confectionary',
 'Other',
 'Pakistani',
 'Pancakes/Waffles',
 'Peruvian',
 'Pizza',
 'Pizza/Italian',
 'Polish',
 'Portuguese',
 'Russian',
 'Salads',
 'Sandwiches',
 'Sandwiches/Salads/Mixed Buffet',
 'Scandinavian',
 'Seafood',
 'Soul Food',
 'Soups & Sandwiches',
 'Southwestern',
 'Spanish',
 'Steak',
 'Tapas',
 'Tex-Mex',
 'Thai',
 'Turkish',
 'Vegetarian',
 'Vietnamese/Cambodian/Malaysia']

#### Valeurs distinctes (suite)

- Grade des restaurants de *Brooklyn*

In [16]:
db.restaurants.distinct(
  key = "grades.grade",
  query = { "borough": "Brooklyn" }
)

['A', 'B', 'C', 'Not Yet Graded', 'P', 'Z']

### Restriction et Projection

- Fonction `find()` pour réaliser les *restrictions* et *projections*
- Plusieurs paramètres : 
    - Restriction (quels documents prendre) : même format que précédemment
    - Projection (quels champs afficher)
    - `limit` pour n'avoir que les $n$ premiers documents
    - `sort` pour effectuer un tri des documents
- Renvoie un curseur, qu'il faut donc gérer pour avoir le résultat
- Transformation en `DataFrame` (du module `pandas`)
    - Format pas forcément idéal pour certains champs

#### Sélection de champs à afficher ou non

Dans la fonction `find()`, pour choisir les champs à afficher, le deuxième paramètre permet de faire une projection avec les critères suivants :

- sans précision, l'identifiant interne est toujours affiché (`_id`)
- `{ "champs": 1 }` : champs à afficher
- `{ "champs": 0 }` : champs à ne pas afficher
- Pas de mélange des 2 sauf pour l'identifiant interne à Mongo (`_id`)
    - `{ "_id": 0, "champs": 1, ...}`

#### Tri et limite

Toujours dans la fonction `find()`, il est possible de faire le tri des documents, avec le paramètre `sort` qui prend un tuple composé de 1 ou plusieurs tuples indiquant les critères de tri

- `( "champs", 1 )` : tri croissant
- `( "champs", -1 )` : tri décroissant
- plusieurs critères de tri possibles (dans les 2 sens)

Dans ces fonctions, on peut aussi limiter l'exploration à une partie, avec les paramètres suivant :

- `limit` : restreint le nombre de résultats fournis
- `skip` : ne considère pas les *n* premiers documents

#### Récupération des 5 premiers documents

Notez le contenu des colonnes `address` et `grades`.

In [17]:
import pandas
pandas.DataFrame(db.restaurants.find(limit = 5))

,_id,address,borough,cuisine,grades,name,restaurant_id
0,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340
1,600e865f65af9ee45325beb6,"{'building': '129-08', 'coord': [-73.839297, 4...",Queens,Delicatessen,"[{'date': 2014-08-16 00:00:00, 'grade': 'A', '...",Sal'S Deli,40361618
2,600e865f65af9ee45325beb2,"{'building': '265-15', 'coord': [-73.7032601, ...",Queens,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-10-28 00:00:00, 'grade': 'A', '...",Carvel Ice Cream,40361322
3,600e865f65af9ee45325beb3,"{'building': '6909', 'coord': [-74.0259567, 40...",Brooklyn,Delicatessen,"[{'date': 2014-08-21 00:00:00, 'grade': 'A', '...",Nordic Delicacies,40361390
4,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-07-14 00:00:00, 'grade': 'A', '...",Taste The Tropics Ice Cream,40356731

#### Récupération de documents (suite)

- Restaurants *Shake Shack* (uniquement les attributs `"street"` et `"borough"`)

In [18]:
c = db.restaurants.find({ "name": "Shake Shack" }, { "address.street": 1, "borough": 1 })
pandas.DataFrame(c)

,_id,address,borough
0,600e86ad65af9ee45325e07b,{'street': 'Columbus Avenue'},Manhattan
1,600e86c565af9ee45325ea76,{'street': 'East 86 Street'},Manhattan
2,600e86c565af9ee45325ea75,{'street': 'West 44 Street'},Manhattan
3,600e86cd65af9ee45325f23d,{'street': 'North End Avenue'},Manhattan
4,600e86cd65af9ee45325f387,{'street': 'Fulton Street'},Brooklyn
5,600e86e265af9ee45326083f,{'street': 'Jfk International Airport'},Queens
6,600e86e965af9ee453260cf9,{'street': 'Grand Central Terminal'},Manhattan
7,600e86e965af9ee453260d84,{'street': 'Jfk International Airport'},Queens
8,600e86ef65af9ee453261582,{'street': 'Flatbush Avenue'},Brooklyn
9,600e86ef65af9ee453261580,{'street': 'Old Fulton Street'},Brooklyn
10,600e86f465af9ee453261d5d,{'street': '3Rd Ave'},Manhattan

#### Récupération de documents (suite)


- Idem sans l'identifiant interne

In [19]:
c = db.restaurants.find(
    { "name": "Shake Shack" }, 
    { "_id": 0, "address.street": 1, "borough": 1 }
)
pandas.DataFrame(c)

                                    address    borough
0             {'street': 'Columbus Avenue'}  Manhattan
1            {'street': 'East   86 Street'}  Manhattan
2            {'street': 'West   44 Street'}  Manhattan
3            {'street': 'North End Avenue'}  Manhattan
4               {'street': 'Fulton Street'}   Brooklyn
5   {'street': 'Jfk International Airport'}     Queens
6      {'street': 'Grand Central Terminal'}  Manhattan
7   {'street': 'Jfk International Airport'}     Queens
8             {'street': 'Flatbush Avenue'}   Brooklyn
9           {'street': 'Old Fulton Street'}   Brooklyn
10                    {'street': '3Rd Ave'}  Manhattan

#### Récupération de documents (suite)


- 5 premiers restaurants du quartier *Queens*, avec une note A et un score supérieur à 50 (on affiche le nom et la rue du restaurant

In [20]:
c = db.restaurants.find(
    {"borough": "Queens", "grades.score": { "$gte":  50}},
    {"_id": 0, "name": 1, "grades.score": 1, "address.street": 1},
    limit = 5
)
pandas.DataFrame(c)

,address,grades,name
0,{'street': 'Horace Harding Boulevard'},"[{'score': 12}, {'score': 4}, {'score': 11}, {...",Richer'S Bakery
1,{'street': 'Bell Boulevard'},"[{'score': 52}, {'score': 12}, {'score': 22}, ...",Tequilla Sunrise
2,{'street': 'Rockaway Beach Boulevard'},"[{'score': 10}, {'score': 2}, {'score': 10}, {...",Rockaway Beach Inn
3,{'street': 'Broadway'},"[{'score': 13}, {'score': 13}, {'score': 13}, ...",Alfonso'S Bar
4,{'street': 'Woodhaven Boulevard'},"[{'score': 2}, {'score': 64}, {'score': 9}, {'...",Pio Pio

#### Récupération de documents (suite)


- Restaurants *Shake Shack* dans différents quartiers (*Queens* et *Brooklyn*)

In [21]:
c = db.restaurants.find(
    {"name": "Shake Shack", "borough": {"$in": ["Queens", "Brooklyn"]}}, 
    {"_id": 0, "address.street": 1, "borough": 1}
)
pandas.DataFrame(c)

                                   address   borough
0              {'street': 'Fulton Street'}  Brooklyn
1  {'street': 'Jfk International Airport'}    Queens
2  {'street': 'Jfk International Airport'}    Queens
3            {'street': 'Flatbush Avenue'}  Brooklyn
4          {'street': 'Old Fulton Street'}  Brooklyn

#### Récupération de documents (suite)


- Restaurants du Queens ayant une note supérieure à 50, mais trié par ordre décroissant de noms de rue, et ordre croissant de noms de restaurants

In [22]:
c = db.restaurants.find(
    {"borough": "Queens", "grades.score": { "$gt":  50}},
    {"_id": 0, "name": 1, "address.street": 1},
    sort = (("address.street", -1), ("name", 1))
)
pandas.DataFrame(c)

                              address                       name
0       {'street': 'Woodward Avenue'}   Sabores Restaurant & Bar
1       {'street': 'Woodside Avenue'}                Salza Pizza
2       {'street': 'Woodside Avenue'}              Spicy Shallot
3   {'street': 'Woodhaven Boulevard'}               Fresh To You
4   {'street': 'Woodhaven Boulevard'}                    Pio Pio
..                                ...                        ...
73            {'street': '30 Avenue'}  Queens Comfort Restaurant
74            {'street': '20 Avenue'}     Cafeteria (Usps Bldng)
75           {'street': '153 Avenue'}               Tuscany Deli
76           {'street': '131 Street'}      Spa Castle/Juice Farm
77           {'street': '102 Street'}               Tacos Mexico

[78 rows x 2 columns]

### Aggrégation

Cette fonction va prendre en paramètre un `pipeline` : tableau composé d'une suite d'opérations

| Fonction     | Opération |
|-|-|
| `$limit`     | restriction à un petit nombre de documents (très utiles pour tester son calcul) |
| `$sort`      | tri sur les documents |
| `$match`     | restriction sur les documents à utiliser |
| `$unwind`    | séparation d'un document en plusieurs sur la base d'un tableau |
| `$addFields` | ajout d'un champs dans les documents |
| `$project`   | redéfinition des documents |
| `$group`     | regroupements et calculs d'aggégrats |
| `$lookup`    | jointure avec une autre collection |
| ...          | |

#### Syntaxe des opérations dans le `pipeline`

Les opérations se font dans l'ordre d'écriture, et le même opérateur peut donc apparaître plusieurs fois

- `$limit` : un entier
- `$sort` : identique à celle du paramètre `sort` de la fonction `find()`
- `$match` : identique à celle du paramètre `query` des autres fonctions
- `$unwind` : nom du tableau servant de base pour le découpage (précédé d'un `$`)
    - un document avec un tableau à *n* éléments deviendra *n* documents avec chacun un des éléments du tableau en lieu et place de celui-ci

#### Syntaxe des opérations dans le `pipeline`

`$project` : redéfinition des documents

- `{ "champs" : 1 }` : conservation du champs (0 si suppression - idem que dans `fields`, pas de mélange sauf pour `_id`)
- `{ "champs": { "$opérateur" : expression }}` : permet de définir un nouveau champs
- `{ "nouveau_champs": "$ancien_champs" }` : renommage d'un champs
    
Quelques opérateurs utiles pour la projection (plus d'info [ici](https://docs.mongodb.com/manual/reference/operator/aggregation/))

- `$arrayElemAt` : élément d'un tableau
- `$first` et `$last` : premier ou dernier élément du tableau
- `$size` : taille d'un tableau
- `$substr` : sous-chaîne de caractères
- `$cond` : permet de faire une condition (genre de *if then else*)
- ...

#### Syntaxe des opérations dans le `pipeline`

`$group` : calcul d'agrégats

- `_id` : déclaration du critère de regroupement
    - chaîne de caractères : pas de regroupement (tous les documents)
    - `$champs` : regroupement selon ce champs
    - `{ "a1": "$champs1", ... }` : regroupement multiple (avec modification des valeurs possible)
- Calculs d'agrégats à faire :
    - `$sum` : somme (soit de valeur fixe - 1 pour faire un décompte donc, soit d'un champs spécifique)
    - `$avg, $min, $max`
    - `$addToSet` : regroupement des valeurs distinctes d'un champs dans un tableau 
    - `$push` : aggrégation de champs dans un tableau

#### Calcul d'agrégat (suite)

- Limite aux 5 premiers restaurants

In [23]:
c = db.restaurants.aggregate(
    [
        {"$limit": 10 }
    ]
)
pandas.DataFrame(c)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340
1,600e865f65af9ee45325beb6,"{'building': '129-08', 'coord': [-73.839297, 4...",Queens,Delicatessen,"[{'date': 2014-08-16 00:00:00, 'grade': 'A', '...",Sal'S Deli,40361618
2,600e865f65af9ee45325beb2,"{'building': '265-15', 'coord': [-73.7032601, ...",Queens,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-10-28 00:00:00, 'grade': 'A', '...",Carvel Ice Cream,40361322
3,600e865f65af9ee45325beb3,"{'building': '6909', 'coord': [-74.0259567, 40...",Brooklyn,Delicatessen,"[{'date': 2014-08-21 00:00:00, 'grade': 'A', '...",Nordic Delicacies,40361390
4,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-07-14 00:00:00, 'grade': 'A', '...",Taste The Tropics Ice Cream,40356731
5,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"[{'date': 2014-06-02 00:00:00, 'grade': 'A', '...",Lorenzo & Maria'S,40363630
6,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"[{'date': 2014-11-10 00:00:00, 'grade': 'A', '...",Seuda Foods,40360045
7,600e865f65af9ee45325bec5,"{'building': '1236', 'coord': [-73.8893654, 40...",Bronx,Chinese,"[{'date': 2013-12-30 00:00:00, 'grade': 'A', '...",Happy Garden,40363289
8,600e865f65af9ee45325bea4,"{'building': '351', 'coord': [-73.985135599999...",Manhattan,Irish,"[{'date': 2014-09-06 00:00:00, 'grade': 'A', '...",Dj Reynolds Pub And Restaurant,30191841
9,600e865f65af9ee45325bec6,"{'building': '625', 'coord': [-73.990494, 40.7...",Manhattan,American,"[{'date': 2014-06-09 00:00:00, 'grade': 'A', '...",Cafe Metro,40363298

#### Calcul d'agrégat (suite)


- Idem avec tri sur le nom du restaurant

In [24]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$sort": { "name": 1 }}
    ]
)
pandas.DataFrame(c)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,600e865f65af9ee45325bec6,"{'building': '625', 'coord': [-73.990494, 40.7...",Manhattan,American,"[{'date': 2014-06-09 00:00:00, 'grade': 'A', '...",Cafe Metro,40363298
1,600e865f65af9ee45325beb2,"{'building': '265-15', 'coord': [-73.7032601, ...",Queens,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-10-28 00:00:00, 'grade': 'A', '...",Carvel Ice Cream,40361322
2,600e865f65af9ee45325bea4,"{'building': '351', 'coord': [-73.985135599999...",Manhattan,Irish,"[{'date': 2014-09-06 00:00:00, 'grade': 'A', '...",Dj Reynolds Pub And Restaurant,30191841
3,600e865f65af9ee45325bec5,"{'building': '1236', 'coord': [-73.8893654, 40...",Bronx,Chinese,"[{'date': 2013-12-30 00:00:00, 'grade': 'A', '...",Happy Garden,40363289
4,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"[{'date': 2014-06-02 00:00:00, 'grade': 'A', '...",Lorenzo & Maria'S,40363630
5,600e865f65af9ee45325beb3,"{'building': '6909', 'coord': [-74.0259567, 40...",Brooklyn,Delicatessen,"[{'date': 2014-08-21 00:00:00, 'grade': 'A', '...",Nordic Delicacies,40361390
6,600e865f65af9ee45325beb6,"{'building': '129-08', 'coord': [-73.839297, 4...",Queens,Delicatessen,"[{'date': 2014-08-16 00:00:00, 'grade': 'A', '...",Sal'S Deli,40361618
7,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"[{'date': 2014-11-10 00:00:00, 'grade': 'A', '...",Seuda Foods,40360045
8,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-07-14 00:00:00, 'grade': 'A', '...",Taste The Tropics Ice Cream,40356731
9,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340

#### Calcul d'agrégat (suite)


- Idem en se restreignant à *Brooklyn*
    - Notez que nous obtenons uniquement 5 restaurants au final

In [25]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$sort": { "name": 1 }},
        { "$match": { "borough": "Brooklyn" }}
    ]
)
pandas.DataFrame(c)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,600e865f65af9ee45325beb3,"{'building': '6909', 'coord': [-74.0259567, 40...",Brooklyn,Delicatessen,"[{'date': 2014-08-21 00:00:00, 'grade': 'A', '...",Nordic Delicacies,40361390
1,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"[{'date': 2014-11-10 00:00:00, 'grade': 'A', '...",Seuda Foods,40360045
2,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-07-14 00:00:00, 'grade': 'A', '...",Taste The Tropics Ice Cream,40356731
3,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340

#### Calcul d'agrégat (suite)


- Mêmes opérations mais avec la restriction en amont de la limite
    - Nous avons ici les 10 premiers restaurants de *Brooklyn* donc

In [26]:
c = db.restaurants.aggregate(
    [
        { "$match": { "borough": "Brooklyn" }},
        { "$limit": 10 },
        { "$sort": { "name": 1 }}
    ]
)
pandas.DataFrame(c)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,600e865f65af9ee45325bead,"{'building': '7715', 'coord': [-73.9973325, 40...",Brooklyn,American,"[{'date': 2014-04-16 00:00:00, 'grade': 'A', '...",C & C Catering Service,40357437
1,600e865f65af9ee45325beae,"{'building': '1269', 'coord': [-73.871194, 40....",Brooklyn,Chinese,"[{'date': 2014-09-16 00:00:00, 'grade': 'B', '...",May May Kitchen,40358429
2,600e865f65af9ee45325beb3,"{'building': '6909', 'coord': [-74.0259567, 40...",Brooklyn,Delicatessen,"[{'date': 2014-08-21 00:00:00, 'grade': 'A', '...",Nordic Delicacies,40361390
3,600e865f65af9ee45325bedb,"{'building': '178', 'coord': [-73.962521299999...",Brooklyn,Steak,"[{'date': 2014-03-08 00:00:00, 'grade': 'A', '...",Peter Luger Steakhouse,40364335
4,600e865f65af9ee45325beaa,"{'building': '6409', 'coord': [-74.00528899999...",Brooklyn,American,"[{'date': 2014-07-18 00:00:00, 'grade': 'A', '...",Regina Caterers,40356649
5,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"[{'date': 2014-11-10 00:00:00, 'grade': 'A', '...",Seuda Foods,40360045
6,600e865f65af9ee45325becf,"{'building': '1031', 'coord': [-73.9075537, 40...",Brooklyn,American,"[{'date': 2014-02-05 00:00:00, 'grade': 'A', '...",Sonny'S Heros,40363744
7,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-07-14 00:00:00, 'grade': 'A', '...",Taste The Tropics Ice Cream,40356731
8,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340
9,600e865f65af9ee45325bebc,"{'building': '531', 'coord': [-73.9634876, 40....",Brooklyn,Hamburgers,"[{'date': 2014-03-18 00:00:00, 'grade': 'A', '...",White Castle,40362344

#### Calcul d'agrégat (suite)


- Séparation des 5 premiers restaurants sur la base des évaluations (`grades`)
    - Chaque ligne correspond maintenant a une évaluation pour un restaurant

In [27]:
c = db.restaurants.aggregate(
    [
        { "$limit": 5 },
        { "$unwind": "$grades" }
    ]
)
pandas.DataFrame(c)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"{'date': 2014-12-30 00:00:00, 'grade': 'A', 's...",Wendy'S,30112340
1,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"{'date': 2014-07-01 00:00:00, 'grade': 'B', 's...",Wendy'S,30112340
2,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"{'date': 2013-04-30 00:00:00, 'grade': 'A', 's...",Wendy'S,30112340
3,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"{'date': 2012-05-08 00:00:00, 'grade': 'A', 's...",Wendy'S,30112340
4,600e865f65af9ee45325beb6,"{'building': '129-08', 'coord': [-73.839297, 4...",Queens,Delicatessen,"{'date': 2014-08-16 00:00:00, 'grade': 'A', 's...",Sal'S Deli,40361618
5,600e865f65af9ee45325beb6,"{'building': '129-08', 'coord': [-73.839297, 4...",Queens,Delicatessen,"{'date': 2013-08-27 00:00:00, 'grade': 'A', 's...",Sal'S Deli,40361618
6,600e865f65af9ee45325beb6,"{'building': '129-08', 'coord': [-73.839297, 4...",Queens,Delicatessen,"{'date': 2012-09-20 00:00:00, 'grade': 'A', 's...",Sal'S Deli,40361618
7,600e865f65af9ee45325beb6,"{'building': '129-08', 'coord': [-73.839297, 4...",Queens,Delicatessen,"{'date': 2011-09-29 00:00:00, 'grade': 'A', 's...",Sal'S Deli,40361618
8,600e865f65af9ee45325beb2,"{'building': '265-15', 'coord': [-73.7032601, ...",Queens,"Ice Cream, Gelato, Yogurt, Ices","{'date': 2014-10-28 00:00:00, 'grade': 'A', 's...",Carvel Ice Cream,40361322
9,600e865f65af9ee45325beb2,"{'building': '265-15', 'coord': [-73.7032601, ...",Queens,"Ice Cream, Gelato, Yogurt, Ices","{'date': 2013-09-18 00:00:00, 'grade': 'A', 's...",Carvel Ice Cream,40361322
10,600e865f65af9ee45325beb2,"{'building': '265-15', 'coord': [-73.7032601, ...",Queens,"Ice Cream, Gelato, Yogurt, Ices","{'date': 2012-09-20 00:00:00, 'grade': 'A', 's...",Carvel Ice Cream,40361322
11,600e865f65af9ee45325beb3,"{'building': '6909', 'coord': [-74.0259567, 40...",Brooklyn,Delicatessen,"{'date': 2014-08-21 00:00:00, 'grade': 'A', 's...",Nordic Delicacies,40361390
12,600e865f65af9ee45325beb3,"{'building': '6909', 'coord': [-74.0259567, 40...",Brooklyn,Delicatessen,"{'date': 2014-03-05 00:00:00, 'grade': 'A', 's...",Nordic Delicacies,40361390
13,600e865f65af9ee45325beb3,"{'building': '6909', 'coord': [-74.0259567, 40...",Brooklyn,Delicatessen,"{'date': 2013-01-10 00:00:00, 'grade': 'A', 's...",Nordic Delicacies,40361390
14,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","{'date': 2014-07-14 00:00:00, 'grade': 'A', 's...",Taste The Tropics Ice Cream,40356731
15,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","{'date': 2013-07-10 00:00:00, 'grade': 'A', 's...",Taste The Tropics Ice Cream,40356731
16,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","{'date': 2012-07-11 00:00:00, 'grade': 'A', 's...",Taste The Tropics Ice Cream,40356731
17,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","{'date': 2012-02-23 00:00:00, 'grade': 'A', 's...",Taste The Tropics Ice Cream,40356731

#### Calcul d'agrégat (suite)


- Idem précédemment, en se restreignant à celle ayant eu *B*

In [28]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$unwind": "$grades" },
        { "$match": { "grades.grade": "B" }}
    ]
)
pandas.DataFrame(c)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"{'date': 2014-07-01 00:00:00, 'grade': 'B', 's...",Wendy'S,30112340
1,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"{'date': 2013-03-18 00:00:00, 'grade': 'B', 's...",Lorenzo & Maria'S,40363630
2,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"{'date': 2011-07-06 00:00:00, 'grade': 'B', 's...",Lorenzo & Maria'S,40363630
3,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"{'date': 2011-12-30 00:00:00, 'grade': 'B', 's...",Seuda Foods,40360045
4,600e865f65af9ee45325bec5,"{'building': '1236', 'coord': [-73.8893654, 40...",Bronx,Chinese,"{'date': 2012-06-12 00:00:00, 'grade': 'B', 's...",Happy Garden,40363289

#### Calcul d'agrégat (suite)


- Si on inverse les opérations `$unwind` et `$match`, le résultat est clairement différent

In [29]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$match": { "grades.grade": "B" }},
        { "$unwind": "$grades" }
    ]
)
pandas.DataFrame(c)

,_id,address,borough,cuisine,grades,name,restaurant_id
0,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"{'date': 2014-12-30 00:00:00, 'grade': 'A', 's...",Wendy'S,30112340
1,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"{'date': 2014-07-01 00:00:00, 'grade': 'B', 's...",Wendy'S,30112340
2,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"{'date': 2013-04-30 00:00:00, 'grade': 'A', 's...",Wendy'S,30112340
3,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"{'date': 2012-05-08 00:00:00, 'grade': 'A', 's...",Wendy'S,30112340
4,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"{'date': 2014-06-02 00:00:00, 'grade': 'A', 's...",Lorenzo & Maria'S,40363630
5,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"{'date': 2013-12-27 00:00:00, 'grade': 'A', 's...",Lorenzo & Maria'S,40363630
6,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"{'date': 2013-03-18 00:00:00, 'grade': 'B', 's...",Lorenzo & Maria'S,40363630
7,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"{'date': 2012-02-01 00:00:00, 'grade': 'A', 's...",Lorenzo & Maria'S,40363630
8,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"{'date': 2011-07-06 00:00:00, 'grade': 'B', 's...",Lorenzo & Maria'S,40363630
9,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"{'date': 2014-11-10 00:00:00, 'grade': 'A', 's...",Seuda Foods,40360045
10,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"{'date': 2013-10-10 00:00:00, 'grade': 'A', 's...",Seuda Foods,40360045
11,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"{'date': 2012-10-04 00:00:00, 'grade': 'A', 's...",Seuda Foods,40360045
12,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"{'date': 2012-05-21 00:00:00, 'grade': 'A', 's...",Seuda Foods,40360045
13,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"{'date': 2011-12-30 00:00:00, 'grade': 'B', 's...",Seuda Foods,40360045
14,600e865f65af9ee45325bec5,"{'building': '1236', 'coord': [-73.8893654, 40...",Bronx,Chinese,"{'date': 2013-12-30 00:00:00, 'grade': 'A', 's...",Happy Garden,40363289
15,600e865f65af9ee45325bec5,"{'building': '1236', 'coord': [-73.8893654, 40...",Bronx,Chinese,"{'date': 2013-01-08 00:00:00, 'grade': 'A', 's...",Happy Garden,40363289
16,600e865f65af9ee45325bec5,"{'building': '1236', 'coord': [-73.8893654, 40...",Bronx,Chinese,"{'date': 2012-06-12 00:00:00, 'grade': 'B', 's...",Happy Garden,40363289

#### Calcul d'agrégat (suite)


- On souhaite ici ne garder que le nom et le quartier des 10 premiers restaurants
    - Notez l'ordre (alphabétique) des variables, et pas celui de la déclaration

In [30]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$project": { "name": 1, "borough": 1 } }
    ]
)
pandas.DataFrame(c)

                        _id    borough                            name
0  600e865f65af9ee45325bea3   Brooklyn                         Wendy'S
1  600e865f65af9ee45325beb6     Queens                      Sal'S Deli
2  600e865f65af9ee45325beb2     Queens                Carvel Ice Cream
3  600e865f65af9ee45325beb3   Brooklyn               Nordic Delicacies
4  600e865f65af9ee45325beab   Brooklyn     Taste The Tropics Ice Cream
5  600e865f65af9ee45325becc  Manhattan               Lorenzo & Maria'S
6  600e865f65af9ee45325beb0   Brooklyn                     Seuda Foods
7  600e865f65af9ee45325bec5      Bronx                    Happy Garden
8  600e865f65af9ee45325bea4  Manhattan  Dj Reynolds Pub And Restaurant
9  600e865f65af9ee45325bec6  Manhattan                      Cafe Metro

#### Calcul d'agrégat (suite)


- Ici, on supprime l'adresse et les évaluations

In [31]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$project": { "address": 0, "grades": 0 } }
    ]
)
pandas.DataFrame(c)

,_id,borough,cuisine,name,restaurant_id
0,600e865f65af9ee45325bea3,Brooklyn,Hamburgers,Wendy'S,30112340
1,600e865f65af9ee45325beb6,Queens,Delicatessen,Sal'S Deli,40361618
2,600e865f65af9ee45325beb2,Queens,"Ice Cream, Gelato, Yogurt, Ices",Carvel Ice Cream,40361322
3,600e865f65af9ee45325beb3,Brooklyn,Delicatessen,Nordic Delicacies,40361390
4,600e865f65af9ee45325beab,Brooklyn,"Ice Cream, Gelato, Yogurt, Ices",Taste The Tropics Ice Cream,40356731
5,600e865f65af9ee45325becc,Manhattan,Continental,Lorenzo & Maria'S,40363630
6,600e865f65af9ee45325beb0,Brooklyn,Jewish/Kosher,Seuda Foods,40360045
7,600e865f65af9ee45325bec5,Bronx,Chinese,Happy Garden,40363289
8,600e865f65af9ee45325bea4,Manhattan,Irish,Dj Reynolds Pub And Restaurant,30191841
9,600e865f65af9ee45325bec6,Manhattan,American,Cafe Metro,40363298

#### Calcul d'agrégat (suite)


- En plus du nom et du quartier, on récupère l'adresse mais dans un nouveau champs

In [32]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$project": { "name": 1, "borough": 1 , "street": "$address.street"} }
    ]
)
pandas.DataFrame(c)

,_id,borough,name,street
0,600e865f65af9ee45325bea3,Brooklyn,Wendy'S,Flatbush Avenue
1,600e865f65af9ee45325beb6,Queens,Sal'S Deli,20 Avenue
2,600e865f65af9ee45325beb2,Queens,Carvel Ice Cream,Hillside Avenue
3,600e865f65af9ee45325beb3,Brooklyn,Nordic Delicacies,3 Avenue
4,600e865f65af9ee45325beab,Brooklyn,Taste The Tropics Ice Cream,Nostrand Avenue
5,600e865f65af9ee45325becc,Manhattan,Lorenzo & Maria'S,Third Avenue
6,600e865f65af9ee45325beb0,Brooklyn,Seuda Foods,Kings Highway
7,600e865f65af9ee45325bec5,Bronx,Happy Garden,238 Spofford Ave
8,600e865f65af9ee45325bea4,Manhattan,Dj Reynolds Pub And Restaurant,West 57 Street
9,600e865f65af9ee45325bec6,Manhattan,Cafe Metro,8 Avenue

#### Calcul d'agrégat (suite)


- On ajoute le nombre de visites pour chaque restaurant (donc la taille du tableau `grades`)

In [33]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$project": { "name": 1, "borough": 1, "nb_grades": { "$size": "$grades" } } }
    ]
)
pandas.DataFrame(c)

,_id,borough,name,nb_grades
0,600e865f65af9ee45325bea3,Brooklyn,Wendy'S,4
1,600e865f65af9ee45325beb6,Queens,Sal'S Deli,4
2,600e865f65af9ee45325beb2,Queens,Carvel Ice Cream,3
3,600e865f65af9ee45325beb3,Brooklyn,Nordic Delicacies,3
4,600e865f65af9ee45325beab,Brooklyn,Taste The Tropics Ice Cream,4
5,600e865f65af9ee45325becc,Manhattan,Lorenzo & Maria'S,5
6,600e865f65af9ee45325beb0,Brooklyn,Seuda Foods,5
7,600e865f65af9ee45325bec5,Bronx,Happy Garden,3
8,600e865f65af9ee45325bea4,Manhattan,Dj Reynolds Pub And Restaurant,4
9,600e865f65af9ee45325bec6,Manhattan,Cafe Metro,5

#### Calcul d'agrégat (suite)


- On trie ce résultat par nombre décroissant de visites, et on affiche les 10 premiers

In [34]:
c = db.restaurants.aggregate(
    [
        { "$project": { "name": 1, "borough": 1, "nb_grades": { "$size": "$grades" } } },
        { "$sort": { "nb_grades": -1 }},
        { "$limit": 10 }
    ]
)
pandas.DataFrame(c)

,_id,borough,name,nb_grades
0,600e86ad65af9ee45325de05,Manhattan,Nomado 33,9
1,600e869765af9ee45325dbce,Brooklyn,Lai Lai Gourmet,9
2,600e86cd65af9ee45325f527,Manhattan,Pure Food,9
3,600e86c165af9ee45325e712,Brooklyn,Silver Krust West Indian Restaurant,9
4,600e868465af9ee45325d765,Manhattan,Benton,9
5,600e86c965af9ee45325edd7,Manhattan,Breeze Thai-French Kitchen,9
6,600e868465af9ee45325d8d6,Brooklyn,Noodle Station,9
7,600e868465af9ee45325d73a,Manhattan,S'Mac,9
8,600e866065af9ee45325c13e,Brooklyn,Green Pavilion Restaurant & Sports Lounge,8
9,600e866a65af9ee45325c33a,Brooklyn,Fifth Ave Cafe /Diner,8

#### Calcul d'agrégat (suite)


- On ne garde maintenant que le premier élément du tableau `grades` (indicé 0)

In [35]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$project": { "name": 1, "borough": 1, "grade": { "$arrayElemAt": [ "$grades", 0 ]} } }
    ]
)
pandas.DataFrame(c)

,_id,borough,name,grade
0,600e865f65af9ee45325bea3,Brooklyn,Wendy'S,"{'date': 2014-12-30 00:00:00, 'grade': 'A', 's..."
1,600e865f65af9ee45325beb6,Queens,Sal'S Deli,"{'date': 2014-08-16 00:00:00, 'grade': 'A', 's..."
2,600e865f65af9ee45325beb2,Queens,Carvel Ice Cream,"{'date': 2014-10-28 00:00:00, 'grade': 'A', 's..."
3,600e865f65af9ee45325beb3,Brooklyn,Nordic Delicacies,"{'date': 2014-08-21 00:00:00, 'grade': 'A', 's..."
4,600e865f65af9ee45325beab,Brooklyn,Taste The Tropics Ice Cream,"{'date': 2014-07-14 00:00:00, 'grade': 'A', 's..."
5,600e865f65af9ee45325becc,Manhattan,Lorenzo & Maria'S,"{'date': 2014-06-02 00:00:00, 'grade': 'A', 's..."
6,600e865f65af9ee45325beb0,Brooklyn,Seuda Foods,"{'date': 2014-11-10 00:00:00, 'grade': 'A', 's..."
7,600e865f65af9ee45325bec5,Bronx,Happy Garden,"{'date': 2013-12-30 00:00:00, 'grade': 'A', 's..."
8,600e865f65af9ee45325bea4,Manhattan,Dj Reynolds Pub And Restaurant,"{'date': 2014-09-06 00:00:00, 'grade': 'A', 's..."
9,600e865f65af9ee45325bec6,Manhattan,Cafe Metro,"{'date': 2014-06-09 00:00:00, 'grade': 'A', 's..."

#### Calcul d'agrégat (suite)


- On peut aussi faire des opérations sur les chaînes, tel que la mise en majuscule du nom

In [36]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$project": { "nom": { "$toUpper": "$name" }, "borough": 1 } }
    ]
)
pandas.DataFrame(c)

                        _id    borough                             nom
0  600e865f65af9ee45325bea3   Brooklyn                         WENDY'S
1  600e865f65af9ee45325beb6     Queens                      SAL'S DELI
2  600e865f65af9ee45325beb2     Queens                CARVEL ICE CREAM
3  600e865f65af9ee45325beb3   Brooklyn               NORDIC DELICACIES
4  600e865f65af9ee45325beab   Brooklyn     TASTE THE TROPICS ICE CREAM
5  600e865f65af9ee45325becc  Manhattan               LORENZO & MARIA'S
6  600e865f65af9ee45325beb0   Brooklyn                     SEUDA FOODS
7  600e865f65af9ee45325bec5      Bronx                    HAPPY GARDEN
8  600e865f65af9ee45325bea4  Manhattan  DJ REYNOLDS PUB AND RESTAURANT
9  600e865f65af9ee45325bec6  Manhattan                      CAFE METRO

#### Calcul d'agrégat (suite)


- On peut aussi vouloir ajouter un champs, comme ici le nombre d'évaluations

In [37]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$addFields": { "nb_grades": { "$size": "$grades" } } }
    ]
)
pandas.DataFrame(c)

,_id,address,borough,cuisine,grades,name,restaurant_id,nb_grades
0,600e865f65af9ee45325bea3,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340,4
1,600e865f65af9ee45325beb6,"{'building': '129-08', 'coord': [-73.839297, 4...",Queens,Delicatessen,"[{'date': 2014-08-16 00:00:00, 'grade': 'A', '...",Sal'S Deli,40361618,4
2,600e865f65af9ee45325beb2,"{'building': '265-15', 'coord': [-73.7032601, ...",Queens,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-10-28 00:00:00, 'grade': 'A', '...",Carvel Ice Cream,40361322,3
3,600e865f65af9ee45325beb3,"{'building': '6909', 'coord': [-74.0259567, 40...",Brooklyn,Delicatessen,"[{'date': 2014-08-21 00:00:00, 'grade': 'A', '...",Nordic Delicacies,40361390,3
4,600e865f65af9ee45325beab,"{'building': '1839', 'coord': [-73.9482609, 40...",Brooklyn,"Ice Cream, Gelato, Yogurt, Ices","[{'date': 2014-07-14 00:00:00, 'grade': 'A', '...",Taste The Tropics Ice Cream,40356731,4
5,600e865f65af9ee45325becc,"{'building': '1418', 'coord': [-73.95685019999...",Manhattan,Continental,"[{'date': 2014-06-02 00:00:00, 'grade': 'A', '...",Lorenzo & Maria'S,40363630,5
6,600e865f65af9ee45325beb0,"{'building': '705', 'coord': [-73.9653967, 40....",Brooklyn,Jewish/Kosher,"[{'date': 2014-11-10 00:00:00, 'grade': 'A', '...",Seuda Foods,40360045,5
7,600e865f65af9ee45325bec5,"{'building': '1236', 'coord': [-73.8893654, 40...",Bronx,Chinese,"[{'date': 2013-12-30 00:00:00, 'grade': 'A', '...",Happy Garden,40363289,3
8,600e865f65af9ee45325bea4,"{'building': '351', 'coord': [-73.985135599999...",Manhattan,Irish,"[{'date': 2014-09-06 00:00:00, 'grade': 'A', '...",Dj Reynolds Pub And Restaurant,30191841,4
9,600e865f65af9ee45325bec6,"{'building': '625', 'coord': [-73.990494, 40.7...",Manhattan,American,"[{'date': 2014-06-09 00:00:00, 'grade': 'A', '...",Cafe Metro,40363298,5

#### Calcul d'agrégat (suite)


- On extrait ici les trois premières lettres du quartier

In [38]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$project": { 
            "nom": { "$toUpper": "$name" }, 
            "quartier": { "$substr": [ "$borough", 0, 3 ] } 
        } }
    ]
)
pandas.DataFrame(c)

                        _id                             nom quartier
0  600e865f65af9ee45325bea3                         WENDY'S      Bro
1  600e865f65af9ee45325beb6                      SAL'S DELI      Que
2  600e865f65af9ee45325beb2                CARVEL ICE CREAM      Que
3  600e865f65af9ee45325beb3               NORDIC DELICACIES      Bro
4  600e865f65af9ee45325beab     TASTE THE TROPICS ICE CREAM      Bro
5  600e865f65af9ee45325becc               LORENZO & MARIA'S      Man
6  600e865f65af9ee45325beb0                     SEUDA FOODS      Bro
7  600e865f65af9ee45325bec5                    HAPPY GARDEN      Bro
8  600e865f65af9ee45325bea4  DJ REYNOLDS PUB AND RESTAURANT      Man
9  600e865f65af9ee45325bec6                      CAFE METRO      Man

#### Calcul d'agrégat (suite)


- On fait de même, mais on met en majuscule et on note *BRX* pour le *Bronx*
    - on garde le quartier d'origine pour vérification ici

In [39]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$addFields": { "quartier": { "$toUpper": { "$substr": [ "$borough", 0, 3 ] } } }},
        { "$project": { 
            "nom": { "$toUpper": "$name" }, 
            "quartier": { "$cond": { 
                "if": { "$eq": ["$borough", "Bronx"] }, 
                "then": "BRX", 
                "else": "$quartier" 
            } },
            "borough": 1
        } }
    ]
)
pandas.DataFrame(c)

,_id,borough,nom,quartier
0,600e865f65af9ee45325bea3,Brooklyn,WENDY'S,BRO
1,600e865f65af9ee45325beb6,Queens,SAL'S DELI,QUE
2,600e865f65af9ee45325beb2,Queens,CARVEL ICE CREAM,QUE
3,600e865f65af9ee45325beb3,Brooklyn,NORDIC DELICACIES,BRO
4,600e865f65af9ee45325beab,Brooklyn,TASTE THE TROPICS ICE CREAM,BRO
5,600e865f65af9ee45325becc,Manhattan,LORENZO & MARIA'S,MAN
6,600e865f65af9ee45325beb0,Brooklyn,SEUDA FOODS,BRO
7,600e865f65af9ee45325bec5,Bronx,HAPPY GARDEN,BRX
8,600e865f65af9ee45325bea4,Manhattan,DJ REYNOLDS PUB AND RESTAURANT,MAN
9,600e865f65af9ee45325bec6,Manhattan,CAFE METRO,MAN

#### Calcul d'agrégat (suite)


- On calcule ici le nombre total de restaurants

In [40]:
c = db.restaurants.aggregate(
    [
        {"$group": {"_id": "Total", "NbRestos": {"$sum": 1}}}
    ]
)
pandas.DataFrame(c)

     _id  NbRestos
0  Total     25359

#### Calcul d'agrégat (suite)


- On fait de même, mais par quartier

In [41]:
c = db.restaurants.aggregate(
    [
        {"$group": {"_id": "$borough", "NbRestos": {"$sum": 1}}}
    ]
)
pandas.DataFrame(c)

             _id  NbRestos
0         Queens      5656
1      Manhattan     10259
2  Staten Island       969
3       Brooklyn      6086
4          Bronx      2338
5        Missing        51

#### Calcul d'agrégat (suite)


- Pour faire le calcul des notes moyennes des restaurants du *Queens*, on exécute le code suivant

In [42]:
c = db.restaurants.aggregate(
    [
        { "$match": { "borough": "Queens" }},
        { "$unwind": "$grades" },
        { "$group": { "_id": "null", "score": { "$avg": "$grades.score" }}}
    ]
)
pandas.DataFrame(c)

    _id      score
0  null  11.634865

#### Calcul d'agrégat (suite)


-  Il est bien évidemment possible de faire ce calcul par quartier et de les trier selon les notes obtenues (dans l'ordre décroissant)

In [43]:
c = db.restaurants.aggregate(
    [
        { "$unwind": "$grades" },
        { "$group": { "_id": "$borough", "score": { "$avg": "$grades.score" }}},
        { "$sort": { "score": -1 }}
    ]
)
pandas.DataFrame(c)

             _id      score
0         Queens  11.634865
1       Brooklyn  11.447976
2      Manhattan  11.418151
3  Staten Island  11.370958
4          Bronx  11.036186
5        Missing   9.632911

#### Calcul d'agrégat (suite)


- On peut aussi faire un regroupement par quartier et par rue (en ne prenant que la première évaluation - qui est la dernière en date a priori), pour afficher les 10 rues où on mange le plus sainement
    - Notez que le `$match` permet de supprimer les restaurants sans évaluations (ce qui engendrerait des moyennes = `None`)

In [44]:
c = db.restaurants.aggregate(
    [
        { "$project": {
            "borough": 1, "street": "$address.street", 
            "eval": { "$arrayElemAt": [ "$grades", 0 ]} 
        } },
        { "$match": { "eval": { "$exists": True } } },
        { "$group": { 
            "_id": { "quartier": "$borough", "rue": "$street" }, 
            "score": { "$avg": "$eval.score" }
        }},
        { "$sort": { "score": 1 }},
        { "$limit": 10 }
    ]
)
pandas.DataFrame(c)

                                                 _id  score
0  {'quartier': 'Manhattan', 'rue': '106 Street &...   -1.0
1  {'quartier': 'Brooklyn', 'rue': 'Shore Pkwy So...    0.0
2      {'quartier': 'Manhattan', 'rue': 'W 44Th St'}    0.0
3          {'quartier': 'Queens', 'rue': '100Th St'}    0.0
4      {'quartier': 'Manhattan', 'rue': 'W 37Th St'}    0.0
5           {'quartier': 'Queens', 'rue': '95Th St'}    0.0
6    {'quartier': 'Brooklyn', 'rue': 'Stockholm St'}    0.0
7    {'quartier': 'Bronx', 'rue': 'East 208 Street'}    0.0
8  {'quartier': 'Manhattan', 'rue': 'Pleasant Ave...    0.0
9  {'quartier': 'Manhattan', 'rue': 'River Terrace'}    0.0

#### Calcul d'agrégat (suite)


- Pour comprendre la différence entre `$addToSet` et `$push`, on les applique sur les grades obtenus pour les 10 premiers restaurants
    - `$addToSet` : valeurs distinctes
    - `$push` : toutes les valeurs présentes

In [45]:
c = db.restaurants.aggregate(
    [
        { "$limit": 10 },
        { "$unwind": "$grades" },
        { "$group": { 
            "_id": "$name", 
            "avec_addToSet": { "$addToSet": "$grades.grade" },
            "avec_push": { "$push": "$grades.grade" }
        }}
    ]
)
pandas.DataFrame(c)

                              _id avec_addToSet        avec_push
0               Lorenzo & Maria'S        [B, A]  [A, A, B, A, B]
1                    Happy Garden        [B, A]        [A, A, B]
2  Dj Reynolds Pub And Restaurant           [A]     [A, A, A, A]
3                Carvel Ice Cream           [A]        [A, A, A]
4     Taste The Tropics Ice Cream           [A]     [A, A, A, A]
5                      Cafe Metro           [A]  [A, A, A, A, A]
6                         Wendy'S        [B, A]     [A, B, A, A]
7               Nordic Delicacies           [A]        [A, A, A]
8                      Sal'S Deli           [A]     [A, A, A, A]
9                     Seuda Foods        [B, A]  [A, A, A, A, B]

### Itération

Il est possible de définir un curseur qui va itérer sur la liste de résultats (celle-ci sera stocké sur le serveur). Cela permet de récupérer les documents par paquets, ce qui est judicieux en cas de gros volume (pour éviter de congestionner un réseau par exemple).

In [46]:
cursor = db.restaurants.find(
    {"borough": "Queens", "grades.score": { "$gte":  50}},
    {"_id": 0, "name": 1, "address.street": 1},
    batch_size = 10)

Mais l'opération est totalement transparente dans python, puisque lorsque nous appelons le curseur, nous récupérons tous les documents.

In [47]:
pandas.DataFrame(cursor)

                                   address                        name
0   {'street': 'Horace Harding Boulevard'}             Richer'S Bakery
1             {'street': 'Bell Boulevard'}            Tequilla Sunrise
2   {'street': 'Rockaway Beach Boulevard'}          Rockaway Beach Inn
3                   {'street': 'Broadway'}               Alfonso'S Bar
4        {'street': 'Woodhaven Boulevard'}                     Pio Pio
..                                     ...                         ...
78                 {'street': '30 Avenue'}   Queens Comfort Restaurant
79            {'street': 'Union Turnpike'}                       Koyla
80                   {'street': '37 Road'}  Jackson Heights Food Court
81              {'street': 'Union Street'}          K & D Internet Inc
82             {'street': 'Roosevelt Ave'}            Tacos Al Suadero

[83 rows x 2 columns]